$font-size1: 46px;
$font-size2: 28px;
$font-size3: 24px;
$font-size4: 18px;
$font-size5: 16px;
$font-size6: 14px;
$font-size7: 12px;

.font-size1 {
  font-size: $font-size1;
}

.font-size2 {
  font-size: $font-size2;
}

.font-size3 {
  font-size: $font-size3;
}

.font-size4 {
  font-size: $font-size4;
}

.font-size5 {
  font-size: $font-size5;
}

.font-size6 {
  font-size: $font-size6;
}

.font-size7 {
  font-size: $font-size7;
}